@font-face {
    font-family: "Supply";
    src: url("/fonts/Supply-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JakartaSans";
    src: url("/fonts/PlusJakartaSans.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.title {
    font-size: calc(2 *100%);
}

.date{
    font-size: calc(0.8 *100%);
}

.price{
    font-size: calc(1.5 *100%);
    font-weight: 900;
}

.register{
    font-size: calc(0.8 *100%);
}

.description{
    font-size: calc(0.6 *100%);
    line-height: calc(0.8 *100%);
}