@import url("https://fonts.cdnfonts.com/css/press-start-2p");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pricedown";
  src: url("/fonts/pricedown-bl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PressStart";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: black;
}

.text-pricedown {
  font-family: "Pricedown", sans-serif;
}

@font-face {
  font-family: "Supply";
  src: url("/fonts/Supply-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SupplyUltraLight";
  src: url("/fonts/Supply-UltraLight.otf") format("opentype");
  font-weight: 300;
 
  font-style: normal;
}
@font-face {
  font-family: "valorant";
  src: url("/fonts/Valorant Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ValorantFont";
  src: url("/fonts/ValorantFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/Plus-Jakarta-Sans-Regular.woff2") format("woff2"),
    url("/fonts/Plus-Jakarta-Sans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cyberway Riders";
  src: url("/fonts/Cyberway Riders.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akira";
  src: url("/fonts/Akira Expanded.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
