.carouselContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carouselContent {
  display: flex;
  transition: transform 0.5s;
  animation: scroll 9s ease-in-out infinite;
}

.carouselContentrev {
  display: flex;
  transition: transform 0.5s;
  animation: scrollrev 9s ease-in-out infinite;
}

.carouselItem {
  min-width: 100%;
}

.firstrow {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.secondrow {
  clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 63%);
  transform: translateY(-22%);
}
.thirdrow {
  clip-path: polygon(0 0, 100% 39%, 100% 100%, 0 100%);
  transform: translateY(-57%);
}

@keyframes scroll {
  0%,
  15% {
    transform: translateX(0);
  }
  33.33%,
  48.33% {
    transform: translateX(-100%);
  }
  66.66%,
  81.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes scrollrev {
  0%,
  15% {
    transform: translateX(-300%);
  }
  33.33%,
  48.33% {
    transform: translateX(-200%);
  }
  66.66%,
  81.66% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
