@font-face {
    font-family: "JakartaSans";
    src: url("/fonts/PlusJakartaSans.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.plusJakartaFont {
    font-family: "JakartaSans", sans-serif;
}