.bluebg {
    @media(max-width: 834px){
        display: none;
    }
    z-index: 100;
    min-height: 100vh;
    background-color: rgb(29, 29, 230);
    justify-content: center;
    align-items: center;
    background-image: url('/image 12.svg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.textbg {
    font-family: Cyberway Riders;
    font-size: 10vw;
}

.desktop {
    @media(max-width:834px) {
        display: none;
    }

    z-index: 10;
}

.left {
    width: 40%;
}

.text {
    font-family: Cyberway Riders;

}

.text_description {
    font-family: Outfit;
    opacity: 0.5;
    width: 28vw;

    /* line-height:normal; */
    @media(max-width: 1200px) {
        width: 35vw;
    }

    @media(max-width: 1000px) {
        width: 40vw;
    }
}

.buttonplay {
    background-color: #ed404f;
    font-weight: bolder;
    justify-content: center;
    height: 70px;
}

.buttoncomp {
    justify-content: center;
    background-color: #596772;
    height: 25px;
}

.middleimgg {
    top: 45%;
    width: 18vw;
    aspect-ratio: 1/1;
    z-index: 3;
    left: 34%;
}

.gekko {
    position: absolute;
    left: -10%;
    top: 100px;
    width: 45vw;
    aspect-ratio: 1/1;
    z-index: 1;
}

.gamingbg {
    position: absolute;
    top: 100px;
    z-index: 0;

    /* height: 100vh;  */
    width: 45vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.mobile {
    @media(min-width:900px) {
        display: none;
    }

    justify-content: center;
    align-items: center;
}

.mobileimgg {
    width: 50vw;

    @media(max-width:500px) {
        width: 60vw;
    }
}

.mobilebutton {
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 12%;

    @media(max-width:600px) {
        width: 18%;
    }
}