@font-face {
  font-family: "Pricedown";
  src: url("/fonts/pricedown-bl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.marquee {
  font-family: "Pricedown", sans-serif;
  font-size: 9rem;
}
