@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

.outercontainer{
    font-family: "Plus Jakarta Sans", serif;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}