@font-face {
  font-family: "Pricedown";
  src: url("/fonts/pricedown-bl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Supply";
  src: url("/fonts/Supply-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.heading {
  font-weight: 800;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.description {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.newdesc {
  clip-path: polygon(
    50% 0%,
    93% 0%,
    100% 50%,
    100% 100%,
    50% 100%,
    7% 100%,
    0% 50%,
    0 0
  );
}
