@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.head {

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size:0.6rem;
  border-color: black;
  box-shadow: inset 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-grow: 1;
    border-width: 0.2rem;
    justify-content: center;
  /* className="w-full h-full object-fit ml-7 */
}

