@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pricedown";
    src: url("/fonts/pricedown-bl.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  