.c1{
    grid-area: c1;
    border-bottom-width: 0.12rem;
    border-color: rgb(255, 255, 255);
}

.c2{
    grid-area: c2;
}

.c3{
    grid-area: c3;
    margin-right: -0.3rem;
}

.c4{
    
    border-bottom-width: 0.12rem;
    grid-area: c4;
}

.c5{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: c5;
    border-width: 0.12rem;
    margin-bottom: 10px;
    border-bottom-left-radius: 3rem;
    border-top-width: 0em;
    border-top-color: rgb(0, 0, 0);
    border-right-width: 0;
}

.c6{
    grid-area: c6;
}

.cont{
    display: grid;
    height: 12vh;
    grid-template-columns: 2fr 19fr 2fr 10fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "c1 c3 c4 c5"
    "c2 c3 c6 c5";
}