@font-face {
  font-family: "Pricedown";
  src: url("/fonts/pricedown-bl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Supply";
  src: url("/fonts/Supply-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.heading {
  font-family: "Pricedown", sans-serif;
}

.description {
  font-family: "Supply", sans-serif;
}